.divListado {
  width: 100%;
  height: fit-content;
  border: 1px solid var(--bg-color-4);
  background-color: var(--bg-color-2);
  border-radius: 10px;
  overflow: hidden;
}

.divListado .containerTitulo {
  padding: 10px;
  background-color: var(--bg-color-5);
  display: flex;
  justify-content: space-between;
}

.divListado .containerTitulo p {
  background: var(--bg-color-1);
  color: var(--bg-color-2);
  border-radius: 10px;
  padding: 0 10px;
}

.divListado .containerArray {
  padding: 10px;
  display: grid;
  gap: 20px;
  width: 100%;
}

.divListado .containerArray .containerFiltros {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 5px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.divListado .containerArray .containerFiltros input {
  appearance: none;
  border: 1px solid var(--bg-color-4);
  padding: 10px;
  text-indent: 10px;
  padding: 5px;
  border-radius: 50px;
}
.divListado .containerArray .containerFiltros input:focus {
  outline: none;
}

.divListado .containerArray .containerFiltros label {
  padding: 0 4px;
}

.divListado
  .containerArray
  .containerFiltros
  :is(input[type="checkbox"], label) {
  cursor: pointer;
}

.divListado .containerArray .containerFiltros input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.divListado .containerArray .containerFiltros input[type="checkbox"]:checked {
  background-color: var(--bg-color-3);
  padding: 4px;
  border: 2px solid var(--bg-color-4);
}

.divListado .containerArray .containerTabla {
  width: 100%;
  border: 2px solid var(--bg-color-5);
  border-radius: 10px;
  overflow: hidden;
}

.divListado .containerArray .containerTabla table {
  width: 100%;
  border-collapse: collapse;
}

.divListado .containerArray .containerTabla tbody tr {
  border-bottom: 2px solid var(--bg-color-5);
}

.divListado .containerArray .containerTabla tbody tr td {
  padding: 10px;
  min-width: 40px;
  max-width: 120px;
  text-align: center;
  text-transform: capitalize;
}

.divListado .containerArray .containerTabla tbody tr td button {
  appearance: none;
  background-color: var(--bg-color-transparent);
  border: none;
  font-size: 20px;
}

.divListado .containerArray .containerTabla tbody tr td button:hover {
  cursor: pointer;
}

.divListado .containerArray .containerTabla tbody tr td .btnEliminar {
  color: var(--bg-color-6);
}
.divListado .containerArray .containerTabla tbody tr td .btnEditar {
  color: var(--bg-color-1);
}

.divListado .containerArray .containerTabla tbody tr .salario span {
  width: 100%;
  color: var(--bg-color-2);
  padding: 10px 20px;
  border-radius: 25px;
}
