.divNavbar {
  width: 100%;
}

.divNavbar nav {
  width: 100%;
  padding: 20px;
}

.divNavbar nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.divNavbar nav ul .columnDos,
.divNavbar nav ul .columnUno {
  display: flex;
  gap: 40px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.divNavbar nav ul .columnUno {
  font-size: 20px;
  font-weight: 400;
}

.divNavbar nav ul .columnUno li:first-child {
  text-transform: uppercase;
  letter-spacing: -1px;
  text-decoration: dotted underline;
}

.divNavbar nav ul .columnUno li:last-child {
  font-size: 16px;
}
