:root {
  --bg-color-transparent: transparent;
  --bg-color-1: #0000ffad;
  --bg-color-2: #ffffff;
  --bg-color-3: #808080;
  --bg-color-4: #000000;
  --bg-color-5: #cbcbcb8f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
